#pullout, .panel-default>.panel-heading, .well, .panel, .slot, .name, table, .betlist, .betlist .list-group-item {
	background-color: #1e1e1e;
}

.navbar-default {
	background-color: #151515;
	border-color: #121212;
}

body, .footer {
	background-color: #111;
}

body {
	color: #656565;
}

#banner {
	color: #e2e2e2;
}

.progress {
	background-color: #2d2d2d;
}

.navbar-default .navbar-nav>li>a {
	color: #616161;
}

#chatMessage {
	color: #ededed;
	background-color: #262626;
}

.dropdown-menu {
	background-color: #282828;
}

.dropdown-menu>li>a {
	color: #f5f5f5;
}

.dropdown-menu>li>a:hover {
	background-color: #1d1d1d;
	color: #f9f9f9;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #151515;
	color: #f8f8f8;
}

.dropdown-menu .divider {
	background-color: #1f1f1f;
}

.form-control {
	background-color: #080808;
}

.placeholder {
	background-color: #282828;
}
.btn-default {
	color: #5c5c5c;
}
.name, .bot {
	color: #7c7c7c;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #0f0f0f;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-color: #373737;
}
pre {
	color: #f5f5f5;
}
.modal-content {
	background-color: #1a1a1a;
}
.modal-header, .modal-footer {
	border-color: #252525;
}